<h2>All Users with interests</h2>
<div class="card-body">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">age</th>
        <th scope="col">gender</th>
        <th scope="col">city</th>
        <th scope="col">country</th>
        <th scope="col">likes</th>
        <th scope="col">dislikes</th>
        <th scope="col">hobbies</th>
        <th scope="col">profileURL</th>
        <th scope="col">about</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ user.username }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.interest ? user.interest.likes:'' }}</td>
        <td>{{  user.interest ? user.interest.dislikes:'' }}</td>
        <td> {{ user.interest ? user.interest.hobbies.join(', '):''}}</td>
        <td>{{  user.interest ? user.interest.profileURL:'' }}</td>
        <td>{{  user.interest ? user.interest.about:'' }}</td>
      </tr>
    </tbody>
  </table>
  
</div>
